<%= form_with(model: run_unit) do |form| %>
  <% if run_unit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(run_unit.errors.count, "error") %> prohibited this run_unit from being saved:</h2>

      <ul>
        <% run_unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :indentation_level, style: "display: block" %>
    <%= form.number_field :indentation_level %>
  </div>

  <div>
    <%= form.label :run_id, style: "display: block" %>
    <%= form.text_field :run_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
