<div id="<%= dom_id run_unit %>">
  <p>
    <strong>Title:</strong>
    <%= run_unit.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= run_unit.description %>
  </p>

  <p>
    <strong>Indentation level:</strong>
    <%= run_unit.indentation_level %>
  </p>

  <p>
    <strong>Run:</strong>
    <%= run_unit.run_id %>
  </p>

</div>
