<div id="<%= dom_id run_unit %>">
  ID: <%= run_unit.id %>
  |
  Position:  <%= run_unit.position %>
  |
  Title: <%= run_unit.title %>
  |
  Parent: <%= run_unit.parent.try(:id) %>
  |
  Ancestors: <%= run_unit.ancestors.map(&:id) %>
  |
  Progenitor: <%= run_unit.progenitor.try(:id) %>
  |
  Descendants: <%= run_unit.descendants.map(&:id) %>
  |
  Last descendant: <%= run_unit.last_descendant.try(:id) %>
</div>
