<div id="<%= dom_id run_unit_submission %>">
  <p>
    <strong>Run submission:</strong>
    <%= run_unit_submission.run_submission_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= run_unit_submission.user_id %>
  </p>

  <p>
    <strong>Run:</strong>
    <%= run_unit_submission.run_id %>
  </p>

  <p>
    <strong>Run unit:</strong>
    <%= run_unit_submission.run_unit_id %>
  </p>

  <p>
    <strong>progress:</strong>
    <%= run_unit_submission.progress %>
  </p>

</div>
