<p style="color: green"><%= notice %></p>

<%= render @run_unit_submission %>

<div>
  <%= link_to "Edit this run unit submission", edit_run_unit_submission_path(@run_unit_submission) %> |
  <%= link_to "Back to run unit submissions", run_unit_submissions_path %>

  <%= button_to "Destroy this run unit submission", @run_unit_submission, method: :delete %>
</div>
